<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mf.mapper.UserMapper">
    <resultMap id="UserMap" type="com.mf.model.UserDo">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="account" property="account"  jdbcType="VARCHAR"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="role" jdbcType="TINYINT" property="role"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <insert id="addUser" parameterType="com.mf.model.UserDo">
        insert into `compress`.t_user
            (
             name,
             password,
             email
            )
        values
            (
              #{name},
              #{password},
              #{email}
            )
    </insert>
    <select id="getByName" resultMap="UserMap">
        select * from `compress`.t_user
        where name = #{name}
    </select>
    <delete id="deleteByName" parameterType="string">
        delete from `compress`.t_user
        where name = #{name}
    </delete>
    <select id="getUserNames" resultType="string">
        select name from `compress`.t_user;
    </select>
</mapper>